body {
  max-width: 1000px;
  background-color: #baf2fc;
  margin: 0 auto;
}

h1 {
  /* text-align: center; */
  margin-left: 20%;

  color: #3e2f77;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

#quiz {
  margin-left: 20%;
  padding: 5px;
}

p {
  margin-left: 20%;
  font-weight: 700;
}

#answerBox {
  background-color: antiquewhite;
  align-content: center;
}

#timerDiv {
  padding-top: 35px;
  text-align:  center;

}

#time {
  padding: 5px;
  border: 1px solid #5980ff;
  border-radius: 2px;
  background-color: #fde458;
}

button {
  margin: 7px;
}

#userName {
  margin-left: 70%;
  color: red;
}

.optionBtn label {
  width: 15px;
}
