body {
  max-width: 1000px;
  background-color: #baf2fc;
  margin: 0 auto;
}

h1 {
  margin-left: 20%;
  color: #3e2f77;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

#quiz {
  margin-left: 20%;
  padding: 5px;
}

p {
  font-size: 20px;
  margin-left: 20%;
  font-weight: 700;
}

#answerBox {
  background-color: antiquewhite;
  align-content: center;
}

#timerDiv {
  padding-top: 35px;
  text-align:  center;
}

#time {
  padding: 5px;
  border: 1px solid #5980ff;
  border-radius: 2px;
  background-color: #2fe5f1;
  color: red;
}

button {
  margin: 7px;
}

#userName {
  font-size: 14px;
  margin-left: 70%;
  color: #404cf0;
}

.buttonDiv {
  padding: 5px;
}

.optionBtn {
  margin-right: 15px;
}

.list {
  padding: 15px;
}

#HSlist {
  align-self: center;
}